a:focus { border: none; text-decoration: none; outline: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: $primary_link; -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }
a:hover { text-decoration: none; color: $primary_link_hover; }
p{
	font-weight:normal;
	line-height:1.5em;
	margin-bottom:0.5625em;
	color: $text;
}
p small{font-size:0.84615384615385em;color: lighten($text, 10%);}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	color: $heading;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color: lighten($heading, 10%);}
h1{
	margin-bottom:.6em;
	font-size:2em;
	line-height:1.875em;
}
h1 small{font-size:0.75em;}
h2{
	font-size:1.75em;
	line-height:1.875em;
}
h2 small{font-size:0.7em;}
h3,h4,h5,h6{line-height:1.875em;}
h3{font-size:1.5em;}h3 small{font-size:0.77777777777778em;}
h4{font-size:1.3em;}h4 small{font-size:0.75em;}
h5{font-size:1.2em;}
h6{font-size:1.1em;color:$text;text-transform:uppercase;}
ul,ol{margin:0 0 18px 25px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ul{list-style:disc;}
ol{list-style:decimal;}
li{line-height:1.125em;color:#808080;}
ul.unstyled{list-style:none;margin-left:0;}
dl{margin-bottom:1.125em; font-size:0.8125em;}dl dt,dl dd{line-height:1.125em; font-size:1em;}
dl dt{font-weight:bold;}
dl dd{margin-left:0.9375%;}
hr{margin:1.5em 0 1.1875em;border:0;border-bottom:1px solid #eee;}
strong{font-style:inherit;font-weight:700;}
em{font-style:italic;font-weight:inherit;line-height:inherit;}
.muted{color:lighten($text, 20%);}

blockquote {
	border-top: 3px solid $base_accent;
	border-bottom: 3px solid $base_accent;
	padding: 5px 0;
	margin: 5px 0;
	p {
		text-align: center;
		font-size: (24/16) + em;
		@media(max-width: 600px){
			font-size: (18/16) + em;
		}
		color: $base_accent;
		font-weight: 200;
		padding: 20px 0;
		// &:before{content:'"'; font-size: (24/16) + em; font-family: 'Verdana' sans-serif; }
		// &:after{content:'"'; font-size: (24/16) + em; font-family: 'Verdana' sans-serif; }
	}
}
address{display:block;line-height:1.125em;margin-bottom:1.125em;font-size:0.8125em;}
code,pre{padding:0 3px 2px;font-family:Monaco, Andale Mono, Courier New, monospace;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
pre{background-color:#f5f5f5;display:block;padding:8.5px;margin:0 0 1.125em;line-height:18px;font-size:12px;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
.label { padding: 1px 4px 2px; font-size: 10.998px; font-weight: bold; line-height: 13px; color: #ffffff; vertical-align: middle; white-space: nowrap; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #999999; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.label:hover { color: #ffffff; text-decoration: none; }
.label-important { background-color: #b94a48; }
.label-important:hover { background-color: #953b39; }
.label-warning { background-color: #f89406; }
.label-warning:hover { background-color: #c67605; }
.label-success { background-color: #468847; }
.label-success:hover { background-color: #356635; }
.label-info { background-color: #3a87ad; }
.label-info:hover { background-color: #2d6987; }
.label-inverse { background-color: #333333; }
.label-inverse:hover { background-color: #1a1a1a; }
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
label,input,button,select,textarea{font-size:13px;font-weight:normal;line-height:18px;}
input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
label{display:block;margin-bottom:5px;color:#333333;}
input,textarea,select,.uneditable-input{display:inline-block;width:100%;height:28px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;border:1px solid #cccccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; }
.ie7 input,.ie7 textarea,.ie7 select,.ie7 .uneditable-input{height:18px;width:96.677777777%;}
.uneditable-textarea{width:auto;height:auto;}
label input,label textarea,label select{display:block;}
input[type="image"],input[type="checkbox"],input[type="radio"]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0 \9;}
input[type="image"]{border:0;}
input[type="file"]{width:auto;padding:initial;line-height:initial;border:initial;background-color:#ffffff;background-color:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
input[type="button"],input[type="reset"],input[type="submit"]{width:auto;height:auto;}
select,input[type="file"]{height:28px;*margin-top:4px;line-height:28px;}
input[type="file"]{line-height:18px \9;}
select{width:220px;background-color:#ffffff;}
select[multiple],select[size]{height:auto;}
input[type="image"]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
textarea{height:auto;}
input[type="hidden"]{display:none;}
.radio,.checkbox{padding-left:18px;}
.radio input[type="radio"],.checkbox input[type="checkbox"]{float:left;margin-left:-18px;}
.controls>.radio:first-child,.controls>.checkbox:first-child{padding-top:5px;}
.radio.inline,.checkbox.inline{display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle;}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{margin-left:10px;}
input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;border:1px solid #bbbbbb;}
input:focus,textarea:focus{
	border-color:rgba(68, 203, 70, 0.8);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(139, 236, 82, 0.6);
	outline:0;
	outline:thin dotted \9;
}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn { border-radius: 3px; display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;vertical-align: middle; background-color: #FFFFFF; border: none; border-bottom: 2px solid transparent; cursor: pointer; *margin-left: .3em; outline: none; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; outline:none; }
.no-cssgradients .btn:active, .no-cssgradients .btn.active {  background-color: #e6e6e6; outline:none; }
.btn:first-child { *margin-left: 0; }
.btn:hover { color: #333333; text-decoration: none; background-color: darken(#fff,5%); border-bottom: 2px solid darken(#fff,10%); -webkit-transition: background-color 0.1s linear; -moz-transition: background-color 0.1s linear; -ms-transition: background-color 0.1s linear; -o-transition: background-color 0.1s linear; transition: background-color 0.1s linear; }
.btn:focus { outline:none; }
.btn.active, .btn:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); background-color: #e6e6e6; background-color: #d9d9d9 \9; outline: 0; }
.btn.disabled, .btn[disabled] { cursor: default; background-image: none; background-color: #e6e6e6; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; }
.btn-large [class^="icon-"] {  margin-top: 1px; }
.btn-small {  padding: 5px 9px; font-size: 11px; line-height: 16px; }
.btn-small [class^="icon-"] { margin-top: -1px; }
.btn-mini { padding: 2px 6px; font-size: 11px; line-height: 14px; }
.btn-primary, .btn-primary:hover, .btn-secondary, .btn-secondary:hover, .btn-tertiary, .btn-tertiary:hover { color: #ffffff !important; }
.btn-primary.active, .btn-secondary.active, .btn-tertiary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: $base; }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { background-color: darken($base, 10%); border-bottom: 2px solid transparent; }
.btn-secondary { background-color: #F5F5F5; }
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] { background-color: darken(#F5F5F5, 10%); }
.btn-tertiary { background-color: $base; }
// .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #2d385e; }
// .no-cssgradients .btn-primary:active, .no-cssgradients .btn-primary.active { background-color: #2d385e; border: 1px solid #2d385e; }
// .btn-secondary { background-color: #bf1c1c; background-image: -moz-linear-gradient(top, #d42424, #8e0d0d); background-image: -ms-linear-gradient(top, #d42424, #8e0d0d); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d42424), to(#8e0d0d)); background-image: -webkit-linear-gradient(top, #d42424, #8e0d0d); background-image: -o-linear-gradient(top, #d42424, #8e0d0d); background-image: linear-gradient(top, #d42424, #8e0d0d); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#d42424, endColorstr=#8e0d0d, GradientType=0); border-color: #8e0d0d #8e0d0d #8e0d0d; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #8e0d0d; }
// .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] { filter: none;  background-color: #8e0d0d; }
// .no-cssgradients .btn-secondary:active, .no-cssgradients .btn-secondary.active { background-color: #8e0d0d; border: 1px solid #8e0d0d; }
// .btn-tertiary { background-color: #32b3e1; background-image: -moz-linear-gradient(top, #3cc4f4, #199ac8); background-image: -ms-linear-gradient(top, #3cc4f4, #199ac8); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cc4f4), to(#199ac8)); background-image: -webkit-linear-gradient(top, #3cc4f4, #199ac8); background-image: -o-linear-gradient(top, #3cc4f4, #199ac8); background-image: linear-gradient(top, #3cc4f4, #199ac8); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#3cc4f4, endColorstr=#199ac8, GradientType=0); border-color: #199ac8 #199ac8 #199ac8; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #199ac8; }
// .btn-tertiary:hover, .btn-tertiary:active, .btn-tertiary.active, .btn-tertiary.disabled, .btn-tertiary[disabled] { filter: none; background-color: #199ac8; }
// .no-cssgradients .btn-tertiary:active, .no-cssgradients .btn-tertiary.active { background-color: #199ac8; border: 1px solid #199ac8; }
button.btn, input[type="submit"].btn { *padding-top: 2px; *padding-bottom: 2px; }
button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner { padding: 0; border: 0; }
button.btn.btn-large, nput[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button.btn.btn-small, input[type="submit"].btn.btn-small { *padding-top: 3px; *padding-bottom: 3px; }
button.btn.btn-mini, input[type="submit"].btn.btn-mini { *padding-top: 1px; *padding-bottom: 1px; }
.btn-group { position: relative; *zoom: 1; *margin-left: .3em; }
.btn-group:before, .btn-group:after { display: table; content: ""; }
.btn-group:after { clear: both; }
.btn-group:first-child { *margin-left: 0; }
.btn-group + .btn-group { margin-left: 5px; }
.btn-toolbar { margin-top: 9px; margin-bottom: 9px; }
.btn-toolbar .btn-group { display: inline-block; *display: inline; *zoom: 1; }
.btn-group .btn { position: relative; float: left; margin-left: -1px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.btn-group .btn:first-child { margin-left: 0; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-left-radius: 4px; }
.btn-group .btn:last-child, .btn-group .dropdown-toggle { -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;  border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; border-bottom-right-radius: 4px; }
.btn-group .btn.large:first-child {  margin-left: 0; -webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px; }
.btn-group .btn.large:last-child, .btn-group .large.dropdown-toggle { -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px;  border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px; }
.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active { z-index: 2; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0; }
.btn-group .dropdown-toggle { padding-left: 8px; padding-right: 8px; -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); *padding-top: 3px; *padding-bottom: 3px; }
.btn-group .btn-mini.dropdown-toggle { padding-left: 5px; padding-right: 5px; *padding-top: 1px; *padding-bottom: 1px; }
.btn-group .btn-small.dropdown-toggle { *padding-top: 4px; *padding-bottom: 4px; }
.btn-group .btn-large.dropdown-toggle { padding-left: 12px; padding-right: 12px; }
.btn-group.open { *z-index: 1000; }
.btn-group.open .dropdown-menu { display: block; margin-top: 1px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn-group.open .dropdown-toggle { background-image: none; -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn .caret { margin-top: 7px; margin-left: 0; }
.btn:hover .caret, open.btn-group .caret {   opacity: 1; filter: alpha(opacity=100); }
.btn-mini .caret { margin-top: 5px; }
.btn-small .caret { margin-top: 6px; }
.btn-large .caret { margin-top: 6px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000000; }
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret { border-top-color: #ffffff; border-bottom-color: #ffffff; opacity: 0.75;  filter: alpha(opacity=75); }
.alert { padding: 8px 35px 8px 14px; margin-bottom: 18px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #c09853; }
.alert-heading { color: inherit; }
.alert .close { position: relative; top: -2px; right: -21px; line-height: 18px; }
.alert-success { background-color: #dff0d8; border-color: #d6e9c6; color: #468847; }
.alert-danger, .alert-error { background-color: #f2dede; border-color: #eed3d7; color: #b94a48; }
.alert-info { background-color: #d9edf7; border-color: #bce8f1; color: #3a87ad; }
.alert-block { padding-top: 14px; padding-bottom: 14px; }
.alert-block > p, .alert-block > ul { margin-bottom: 0; }
.alert-block p + p { margin-top: 5px; }
.btn-navbar { display: none; padding: 8px 10px; }
.btn-navbar:hover, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] {  }
.btn-navbar:active, .btn-navbar.active {  }
.btn-navbar .icon-bar { display: block; width: 18px; height: 2px; background-color: #333333; border-radius: 1px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.btn-navbar .icon-bar + .icon-bar { margin-top: 3px; }

.bold { font-weight: 700; }

*, *:before, *:after { box-sizing: border-box; }
img { max-width: 100%; height: auto; vertical-align: sub; }
.left { float: left; }
.right { float: right; }
.clr { clear: both; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.hide { display: none; }
.show { display: block; }
img.left { margin: 10px 10px 10px 0; }
img.right { margin: 10px 0 10px 10px; }

.pager{margin-top:30px; margin-left:0;margin-bottom:18px;list-style:none;text-align:center;*zoom:1}
.pager:before,.pager:after{display:table;content:""}
.pager:after{clear:both}
.pager li{display:inline}
.pager a{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.pager a:hover{text-decoration:none;background-color:#f5f5f5}
.pager .next a{float:right}
.pager .previous a{float:left}
.pager .disabled a,.pager .disabled a:hover{color:#999;background-color:#fff;cursor:default}

.btn-block {
	display: block;
	margin: 5px 0;
}