<div class="sp_metabox">
	<header class="header">
		<h2>Custom Category</h2>
	</header>
	<div class="body">
		<p>Selecting a category below will pull posts from the <strong>Post</strong> section with the same category.</p>
		<p><strong>Note:</strong> you must select the <strong>'Custom Category'</strong> page template above </p>
		<div class="categorydiv" id="sp-category">
			<ul class="categorychecklist">
				{{ cats|raw }}
			</ul>
		</div>
	</div>
	<div class="footer"></div>
</div>